<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     autoReload="true"
       internalLogLevel="Warn"
       internalLogFile="${basedir}/logs/internal-nlog.txt">
	<!--define various log targets  keepConnection-->
	<targets>



		<!-- ElasticSearch发送
    <target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
      <target xsi:type="ElasticSearch" includeAllProperties="true" index="logstash-20200805"  uri="http://localhost:9200" />
    </target>   -->

		<!--发送到RabbitMQ-->
		<extensions>
			<add assembly="Nlog.RabbitMQ.Target" />
		</extensions>
		<targets async="true">
			<target name="RabbitMQTarget"
				xsi:type="RabbitMQ"
			   username="guest"
					   password="guest"
					   hostname="localhost"
			   port="5672"
					   vhost="/"
			   appid="NLog.RabbitMQ.DemoApp"
			   topic="DemoApp.Logging.${level}"
				exchange="contentservice-log"
						exchangeType="topic"
				useJSON="true"
				layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception" />
		</targets>

		<!---文件发送
	<target xsi:type="File" name="allfile" fileName="logs/ContentService-${shortdate}.log"
		layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->

		<!--网络发送
    <target name="logstash" xsi:type="Network" address="tcp://127.0.0.1:9900" keepConnection="false"
         layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"/>-->
	</targets>
	<rules>
		<logger name="*" level="Info,Error" writeTo="RabbitMQTarget" />
	</rules>
</nlog>